<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.geon.journey.common.mapper.MemberMapper">
    <insert id="registMember">
        insert into tbl_member (email, name, password) VALUE (#{email},#{name},#{password});
    </insert>

    <insert id="registMemberRole">
        insert into tbl_member_role_set (email, roleSet) VALUE (#{email}, #{roleSet});
    </insert>

    <select id="findByEmail" resultType="org.geon.journey.common.entity.Member">
        select m.email,
               m.name,
               m.password,
               m.fromSocial,
               m.regDate,
               m.modDate,
               mr.roleSet
        from tbl_member m left outer join tbl_member_role_set mr on m.email = mr.email where m.email = #{username} and m.fromSocial = #{fromSocial}
        group by m.email
    </select>
</mapper>